<div class="center jumbotron">
<h1>Welcome to the Chicken Rice Stall</h1>

  <h2>
    This is the home page for 
    <a href="#">selling my fucking chicken rice</a>
    you bitches.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Pic not showing"),
'http://rubyonrails.org/' %>